@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

a {
  text-decoration: none;
  font-weight: 600;
}

ul {
  list-style-type: none;
}

.socialLinks {
  display: flex;
  gap: 4vh;
  list-style: none;
  padding: 2vh;
}

section {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.textHeader {
  display: flex;
  flex-direction: column;
}
.textHeader h2 {
  font-family: "Caveat", cursive;
  color: #50a72c;
}
.textHeader h1 {
  font-size: 30px;
  color: #2a491d;
}

.a-Buttons {
  display: flex;
  gap: 2vh;
}
.a-Buttons li {
  border-radius: 3vh;
}
.a-Buttons li a {
  color: white;
}

.a-Button-Yellow {
  background-color: #ffbd3c;
}
.a-Button-Yellow:hover {
  background-color: #50a72c;
}

.a-Button-Green {
  background-color: #50a72c;
}
.a-Button-Green:hover {
  background-color: #ffbd3c;
}

.a-Button-Yellow, .a-Button-Green {
  color: white;
  padding: 12px 24px;
  border-radius: 5vh;
  transition: 0.3s ease-in-out;
  width: -moz-max-content;
  width: max-content;
}

.cardLink {
  color: #2a491d;
  font-size: 20px;
  font-weight: 600;
}

header {
  display: flex;
}
header #HeaderLogo {
  background-color: #2A491D;
}
header #HeaderLogo img {
  padding: 9vh 4vh 4vh;
}
header #HeaderBoth {
  width: 100%;
}
header #HeaderBoth #HeaderTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2A491D;
  padding: 2vh 0 2vh 0;
  color: white;
}
header #HeaderBoth #HeaderTop #headerTopLeft {
  display: flex;
  gap: 5vh;
}
header #HeaderBoth #HeaderTop #headerTopLeft .socialLinks {
  background-color: #223d17;
  position: absolute;
  top: 0;
  left: 74vh;
}
header #HeaderBoth #HeaderTop #headerTopRight {
  display: flex;
  gap: 5vh;
  margin-right: 5vh;
}
header #HeaderBoth #HeaderTop #headerTopRight span {
  display: flex;
  align-items: center;
  gap: 2vh;
}
header #HeaderBoth #HeaderTop #headerTopRight span:nth-child(1)::after {
  content: "";
  width: 1vh;
  height: 3vh;
  padding-right: 2vh;
  border-right: solid 1px #7d8978;
}
header #HeaderBoth #HeaderTop #headerTopRight span i {
  color: #ffbd3c;
}
header #HeaderBoth #HeaderBottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 3.5vh;
  padding-bottom: 3.5vh;
}
header #HeaderBoth #HeaderBottom nav ul {
  display: flex;
  align-items: center;
  gap: 14vh;
}
header #HeaderBoth #HeaderBottom nav ul a {
  color: #7d8978;
  font-weight: 400;
}
header #HeaderBoth #HeaderBottom nav ul a:hover {
  color: #50a72c;
}
header #HeaderBoth #HeaderBottom #headerBottomRight {
  display: flex;
  align-items: center;
  gap: 1vh;
}
header #HeaderBoth #HeaderBottom #headerBottomRight::before {
  content: "";
  width: 1vh;
  height: 5vh;
  border-left: solid 1px #7d8978;
  padding-left: 12vh;
}
header #HeaderBoth #HeaderBottom #headerBottomRight i {
  font-size: 20px;
}
header #HeaderBoth #HeaderBottom #headerBottomRight i:nth-child(1) {
  font-size: 30px;
  padding-right: 5vh;
  cursor: pointer;
}
header #HeaderBoth #HeaderBottom #headerBottomRight i:nth-child(1):hover {
  color: #50a72c;
}
header #HeaderBoth #HeaderBottom #headerBottomRight i:nth-child(2) {
  background-color: #50a72c;
  color: white;
  padding: 3vh;
  border-radius: 5vh;
}
header #HeaderBoth #HeaderBottom #headerBottomRight a {
  background-color: #50a72c;
  border-radius: 5vh;
  padding: 3vh;
  color: white;
}

main #UpBanner {
  background-image: url("../images/upbanner/bg.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  margin-top: 0;
}
main #UpBanner #upBannerImages #brocolli {
  position: absolute;
  top: 0;
}
main #UpBanner #upBannerImages #tomato {
  position: absolute;
  bottom: 0;
}
main #UpBanner #upBannerImages #orange {
  position: absolute;
  bottom: 0;
  right: 0;
}
main #UpBanner #upBannerImages #vegetables {
  position: absolute;
  top: 5vh;
  right: 0;
}
main #UpBanner #upBannerText {
  display: flex;
  flex-direction: column;
  gap: 4vh;
  position: absolute;
  top: 32vh;
  left: 5vh;
}
main #UpBanner #upBannerText .upBannerText-Header h2 {
  font-size: 30px;
  font-style: italic;
  font-weight: 400;
  transform: skewX(15deg);
  font-family: "Caveat", cursive;
  color: #7d8978;
}
main #UpBanner #upBannerText .upBannerText-Header h1 {
  font-size: 65px;
  width: 65vh;
  color: #2a491d;
}
main #ServiceOptions {
  display: flex;
  justify-content: space-around;
  padding: 5vh;
  box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.07);
}
main #ServiceOptions .serviceOptions-Card {
  display: flex;
  align-items: center;
  position: relative;
}
main #ServiceOptions .serviceOptions-Card::after, main #ServiceOptions .serviceOptions-Card:nth-child(2)::after {
  content: "";
  position: absolute;
  left: 43.5vh;
  border-right: solid 1px #7d8978;
  width: 1vh;
  height: 11vh;
}
main #ServiceOptions .serviceOptions-Card:nth-child(2)::after {
  left: 45vh;
}
main #ServiceOptions .serviceOptions-Card:nth-last-child(1)::after {
  display: none;
}
main #ServiceOptions .serviceOptions-Card .serviceOptions-CardText {
  display: flex;
  flex-direction: column;
}
main #FarmingWithLove {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main #FarmingWithLove #farmingWithLove-Image {
  -o-object-fit: contain;
     object-fit: contain;
  width: 50vh;
}
main #FarmingWithLove #farmingWithLove-Main {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 7vh;
}
main #FarmingWithLove #farmingWithLove-Main #farmingWithLove-Options {
  display: flex;
  gap: 5vh;
}
main #FarmingWithLove #farmingWithLove-Main #farmingWithLove-Options li {
  padding: 3vh;
  box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.07);
  font-weight: 600;
  color: #2a491d;
}
main #FarmingWithLove #farmingWithLove-Main #farmingWithLove-Options li i {
  color: #ffbd3c;
  margin-right: 2vh;
}
main #FarmingWithLove #farmingWithLove-Main #farmingWithLove-Text {
  display: flex;
  flex-direction: column;
  gap: 4vh;
  position: relative;
}
main #FarmingWithLove #farmingWithLove-Main #farmingWithLove-Text h4 {
  color: #50a72c;
}
main #FarmingWithLove #farmingWithLove-Main #farmingWithLove-Text p {
  color: #7d8978;
}
main #FarmingWithLove #farmingWithLove-Main #farmingWithLove-Text::before {
  content: "";
  position: absolute;
  top: 21vh;
  border-top: solid 1px #7d8978;
  width: 100%;
  height: 2vh;
}
main #FarmingWithLove #farmingWithLove-Main #farmingWithLove-Discover {
  display: flex;
  flex-direction: column;
  gap: 5vh;
}
main #FarmingWithLove #farmingWithLove-Main #farmingWithLove-Discover #farmingWithLove-DiscoverHeader {
  display: flex;
  gap: 2vh;
}
main #OurCategories {
  display: flex;
  flex-direction: column;
  gap: 22vh;
  margin-bottom: 10vh;
}
main #OurCategories .ourCategories-Header {
  text-align: center;
}
main #OurCategories #ourCategories-Cards {
  display: flex;
  justify-content: center;
  gap: 5vh;
}
main #OurCategories #ourCategories-Cards .ourCategories-Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f2f2ec;
  height: 40vh;
  width: 44vh;
  border-radius: 1vh;
  position: relative;
}
main #OurCategories #ourCategories-Cards .ourCategories-Card .ourCategories-Images {
  position: relative;
  bottom: 34vh;
}
main #OurCategories #ourCategories-Cards .ourCategories-Card .ourCategories-Images .cardMainImage {
  position: relative;
  top: 18vh;
  z-index: 1;
}
main #OurCategories #ourCategories-Cards .ourCategories-Card .ourCategories-Images .imageShapeBehind {
  transition: 0.3s ease-in-out;
  background-color: white;
  position: absolute;
  top: 19vh;
  left: 7vh;
  border-radius: 15vh;
  width: 30vh;
  height: 30vh;
}
main #OurCategories #ourCategories-Cards .ourCategories-Card .ourCategories-Images .cardMainImage:hover ~ .shapeGreen {
  background-color: #50a72c;
}
main #OurCategories #ourCategories-Cards .ourCategories-Card .ourCategories-Images .cardMainImage:hover ~ .shapeYellow {
  background-color: #ffbd3c;
}
main #OurCategories #ourCategories-Cards .ourCategories-Card .ourCategories-CardBack {
  position: relative;
  bottom: 16vh;
  display: flex;
  flex-direction: column;
  gap: 3vh;
  width: 80%;
}
main #OurCategories #ourCategories-Cards .ourCategories-Card a i {
  position: relative;
  bottom: 13.5vh;
  color: white;
  width: 7vh;
  height: 7vh;
  border-radius: 5vh;
  padding-top: 2.1vh;
  transition: 0.3s ease-in-out;
}
main #OurCategories #ourCategories-Cards .ourCategories-Card .arrowBackground-Green {
  background-color: #50a72c;
}
main #OurCategories #ourCategories-Cards .ourCategories-Card .arrowBackground-Green:hover {
  background-color: #ffbd3c;
}
main #OurCategories #ourCategories-Cards .ourCategories-Card .arrowBackground-Orange {
  background-color: #ffbd3c;
}
main #OurCategories #ourCategories-Cards .ourCategories-Card .arrowBackground-Orange:hover {
  background-color: #50a72c;
}
main #OrganicFood-Cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
main #OrganicFood-Cards .organicFood-Card {
  display: flex;
  border-radius: 1vh;
  width: 100vh;
  height: 50vh;
  position: relative;
}
main #OrganicFood-Cards .organicFood-Card img {
  position: absolute;
  right: 0;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 1vh;
}
main #OrganicFood-Cards .organicFood-Card:nth-child(1) {
  background-color: #2a491d;
}
main #OrganicFood-Cards .organicFood-Card:nth-child(2) {
  background-color: #50a72c;
}
main #OrganicFood-Cards .organicFood-Card .organicFood-Header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 3vh;
  padding-left: 5vh;
  position: absolute;
  top: 9vh;
  z-index: 1;
}
main #OrganicFood-Cards .organicFood-Card .organicFood-Header h2, main #OrganicFood-Cards .organicFood-Card .organicFood-Header h1 {
  color: white;
  width: 80%;
}
main #OrganicFood-Cards .organicFood-Card .organicFood-Header h1 {
  font-weight: 800;
}
main #CheckoutNewProducts {
  display: flex;
  flex-direction: column;
  gap: 5vh;
}
main #CheckoutNewProducts .checkoutNewProducts-Header {
  display: flex;
  align-items: center;
}
main #CheckoutNewProducts #checkoutNewProducts-Cards {
  display: flex;
  justify-content: space-around;
}
main #CheckoutNewProducts #checkoutNewProducts-Cards .checkoutNewProducts-Card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35vh;
  height: 60vh;
  border: solid 1px #f2f2ec;
  border-radius: 2vh;
  gap: 2vh;
}
main #CheckoutNewProducts #checkoutNewProducts-Cards .checkoutNewProducts-Card p {
  display: flex;
  gap: 3vh;
}
main #CheckoutNewProducts #checkoutNewProducts-Cards .checkoutNewProducts-Card p span {
  text-decoration: line-through;
  color: #c2c8bb;
}
main #CheckoutNewProducts #checkoutNewProducts-Cards .checkoutNewProducts-Card img {
  width: 75%;
  height: auto;
}
main #CheckoutNewProducts #checkoutNewProducts-Cards .checkoutNewProducts-Card button {
  border: none;
  cursor: pointer;
}
main #WhyChooseOgenix {
  display: flex;
  justify-content: space-around;
  background-image: url("../images/why-choose-ogenix/bg-2.jpg");
  background-size: contain;
  height: 90vh;
  padding-top: 5vh;
  position: relative;
}
main #WhyChooseOgenix img {
  -o-object-fit: contain;
     object-fit: contain;
}
main #WhyChooseOgenix #whyChooseOgenix-Left {
  display: flex;
  gap: 5vh;
  flex-direction: column;
}
main #WhyChooseOgenix #whyChooseOgenix-Left .whyChooseOgenix-Header h1 {
  color: white;
}
main #WhyChooseOgenix #whyChooseOgenix-Left #whyChooseOgenix-Cards {
  display: flex;
  width: 100vh;
  flex-wrap: wrap;
  gap: 5vh;
}
main #WhyChooseOgenix #whyChooseOgenix-Left #whyChooseOgenix-Cards .whyChooseOgenix-Card {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  justify-content: center;
  align-items: center;
  background-color: #223d17;
  width: 40vh;
  height: 50%;
}
main #WhyChooseOgenix #whyChooseOgenix-Left #whyChooseOgenix-Cards .whyChooseOgenix-Card h3 {
  color: white;
  font-weight: 600;
}
main #WhyChooseOgenix #whyChooseOgenix-Left #whyChooseOgenix-Cards .whyChooseOgenix-Card img {
  width: 30%;
  height: 30%;
}
main #WhyChooseOgenix #whyChooseOgenix-Right {
  display: flex;
}
main #WhyChooseOgenix #whyChooseOgenix-Right img {
  width: 70%;
  height: 50%;
}
main #WhyChooseOgenix #whyChooseOgenix-Right #whyChooseOgenix-TopAndBottom {
  display: flex;
  flex-direction: column;
  gap: 15vh;
}
main #WhyChooseOgenix #whyChooseOgenix-Right #whyChooseOgenix-Middle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 3.7vh;
}

footer {
  background-image: url("../images/footer/bg-4.jpg");
}/*# sourceMappingURL=style.css.map */