@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

a {
  text-decoration: none;
  font-weight: 600;
}

ul {
  list-style-type: none;
}

.socialLinks {
  display: flex;
  gap: 4vh;
  list-style: none;
  padding: 2vh;
}

section {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.textHeader {
  display: flex;
  flex-direction: column;
}
.textHeader h2 {
  font-family: "Caveat", cursive;
  color: #50a72c;
}
.textHeader h1 {
  font-size: 30px;
  color: #2a491d;
}

.a-Buttons {
  display: flex;
  gap: 2vh;
}
.a-Buttons li {
  border-radius: 3vh;
}
.a-Buttons li a {
  color: white;
}

.a-Button-Yellow {
  background-color: #ffbd3c;
}
.a-Button-Yellow:hover {
  background-color: #50a72c;
}

.a-Button-Green {
  background-color: #50a72c;
}
.a-Button-Green:hover {
  background-color: #ffbd3c;
}

.a-Button-Yellow, .a-Button-Green {
  color: white;
  padding: 12px 24px;
  border-radius: 5vh;
  transition: 0.3s ease-in-out;
  width: -moz-max-content;
  width: max-content;
}

.cardLink {
  color: #2a491d;
  font-size: 20px;
  font-weight: 600;
}

.arrowBackground-Green {
  background-color: #50a72c;
}
.arrowBackground-Green:hover {
  background-color: #ffbd3c;
}

.arrowBackground-Yellow {
  background-color: #ffbd3c;
}
.arrowBackground-Yellow:hover {
  background-color: #50a72c;
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.dropdown .dropbtn {
  display: flex;
  align-items: center;
  gap: 1vh;
  color: #7d8978;
}
.dropdown .dropbtn i {
  margin-left: 5px;
  transition: 0.2s ease-in-out;
  position: relative;
  top: 1px;
}
.dropdown .dropdown-content {
  display: none;
  background-color: #f1f1f1;
  width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: 0.3s;
  position: relative;
  top: 10vh;
  left: -3vh;
}
.dropdown .dropdown-content a {
  color: black;
  padding: 12px 16px 12px 20px;
  text-decoration: none;
  display: block;
}
.dropdown .dropdown-content a:hover {
  background-color: #50a72c;
  color: white !important;
}
.dropdown .dropdownLanguages {
  position: absolute;
  right: 0;
  min-width: 115px;
}
.dropdown .dropdownCurrencies {
  position: absolute;
  right: 0;
  min-width: 90px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn i {
  transform: rotate(180deg);
}

#topBtn {
  position: fixed;
  right: 2vh;
  bottom: 5vh;
  background-color: #50a72c;
  z-index: 10;
  width: 10vh;
  height: 10vh;
  text-align: center;
  padding-top: 3.4vh;
  border-radius: 1vh;
  cursor: pointer;
  transition: 0.3s;
}
#topBtn i {
  color: white;
}
#topBtn:hover {
  background-color: #ffbd3c;
}

header {
  display: flex;
}
header #HeaderLogo {
  background-color: #2A491D;
}
header #HeaderLogo img {
  padding: 9vh 4vh 4vh;
}
header #HeaderBoth {
  width: 100%;
}
header #HeaderBoth #HeaderTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2A491D;
  padding: 2vh 0 2vh 0;
  color: white;
}
header #HeaderBoth #HeaderTop #headerTopLeft {
  display: flex;
  gap: 5vh;
}
header #HeaderBoth #HeaderTop #headerTopLeft .socialLinks {
  background-color: #223d17;
  position: absolute;
  top: 0;
  left: 74vh;
  cursor: pointer;
}
header #HeaderBoth #HeaderTop #headerTopLeft .socialLinks li:hover {
  color: #ffbd3c;
}
header #HeaderBoth #HeaderTop #headerTopRight {
  display: flex;
  gap: 5vh;
  margin-right: 5vh;
}
header #HeaderBoth #HeaderTop #headerTopRight span {
  display: flex;
  align-items: center;
  gap: 2vh;
}
header #HeaderBoth #HeaderTop #headerTopRight span:nth-child(1)::after {
  content: "";
  width: 1vh;
  height: 3vh;
  padding-right: 2vh;
  border-right: solid 1px #7d8978;
}
header #HeaderBoth #HeaderTop #headerTopRight span i {
  color: #ffbd3c;
}
header #HeaderBoth #HeaderBottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 3.5vh;
  padding-bottom: 3.5vh;
}
header #HeaderBoth #HeaderBottom nav ul {
  display: flex;
  align-items: center;
  gap: 10vh;
}
header #HeaderBoth #HeaderBottom nav ul li {
  padding: 4vh 0;
  position: relative;
}
header #HeaderBoth #HeaderBottom nav ul li a {
  color: #7d8978;
  font-weight: 400;
}
header #HeaderBoth #HeaderBottom nav ul li a:hover {
  color: #50a72c;
}
header #HeaderBoth #HeaderBottom nav ul li::after {
  content: "";
  display: none;
  position: absolute;
  bottom: 2.7vh;
  width: 100%;
  border-bottom: solid 3px #50a72c;
  transition: 0.3s;
}
header #HeaderBoth #HeaderBottom nav ul li:hover::after {
  display: block;
}
header #HeaderBoth #headerBottomRight {
  display: flex;
  align-items: center;
  gap: 1vh;
}
header #HeaderBoth #headerBottomRight::before {
  content: "";
  width: 1vh;
  height: 5vh;
  border-left: solid 1px #7d8978;
  padding-left: 12vh;
}
header #HeaderBoth #headerBottomRight i {
  font-size: 20px;
  cursor: pointer;
}
header #HeaderBoth #headerBottomRight i:nth-child(1) {
  font-size: 30px;
  padding-right: 5vh;
  transition: 0.2s ease-out;
}
header #HeaderBoth #headerBottomRight i:nth-child(1):hover {
  color: #50a72c;
}
header #HeaderBoth #headerBottomRight i:nth-child(2) {
  padding: 3vh;
  border-radius: 5vh;
}
header #HeaderBoth #headerBottomRight a {
  border-radius: 5vh;
  padding: 3vh;
}

main #UpBanner {
  background-image: url("../images/upbanner/bg.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  margin-top: 0;
}
main #UpBanner #upBannerImages #brocolli {
  position: absolute;
  top: 0;
}
main #UpBanner #upBannerImages #tomato {
  position: absolute;
  bottom: 0;
}
main #UpBanner #upBannerImages #orange {
  position: absolute;
  bottom: 0;
  right: 0;
}
main #UpBanner #upBannerImages #vegetables {
  position: absolute;
  top: 5vh;
  right: 0;
}
main #UpBanner #upBannerText {
  display: flex;
  flex-direction: column;
  gap: 4vh;
  position: absolute;
  top: 32vh;
  left: 5vh;
}
main #UpBanner #upBannerText .upBannerText-Header h2 {
  font-size: 30px;
  font-style: italic;
  font-weight: 400;
  transform: skewX(15deg);
  font-family: "Caveat", cursive;
  color: #7d8978;
}
main #UpBanner #upBannerText .upBannerText-Header h1 {
  font-size: 65px;
  width: 65vh;
  color: #2a491d;
}
main #ServiceOptions {
  display: flex;
  justify-content: space-around;
  padding: 5vh;
  box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.07);
}
main #ServiceOptions .serviceOptions-Card {
  display: flex;
  align-items: center;
  position: relative;
}
main #ServiceOptions .serviceOptions-Card::after, main #ServiceOptions .serviceOptions-Card:nth-child(2)::after {
  content: "";
  position: absolute;
  left: 43.5vh;
  border-right: solid 1px #7d8978;
  width: 1vh;
  height: 11vh;
}
main #ServiceOptions .serviceOptions-Card:nth-child(2)::after {
  left: 45vh;
}
main #ServiceOptions .serviceOptions-Card:nth-last-child(1)::after {
  display: none;
}
main #ServiceOptions .serviceOptions-Card .serviceOptions-CardText {
  display: flex;
  flex-direction: column;
}
main #FarmingWithLove {
  display: flex;
  justify-content: space-around;
  gap: 15vh;
  align-items: center;
  position: relative;
}
main #FarmingWithLove #farmingWithLove-Images {
  -o-object-fit: contain;
     object-fit: contain;
  width: 50vh;
  position: relative;
}
main #FarmingWithLove #farmingWithLove-Images img:nth-child(1) {
  width: auto;
  height: 109.4vh;
}
main #FarmingWithLove #farmingWithLove-Images img:nth-child(2) {
  position: absolute;
  top: 0;
  left: -5vh;
  z-index: -1;
}
main #FarmingWithLove #farmingWithLove-Images img:nth-child(3) {
  position: absolute;
  top: 12vh;
  right: -23vh;
  z-index: 1;
  transition: 0.3s ease;
}
main #FarmingWithLove #farmingWithLove-Images img:nth-child(3):hover {
  transform: scale(0.9);
}
main #FarmingWithLove #farmingWithLove-Main {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 7vh;
}
main #FarmingWithLove #farmingWithLove-Main #farmingWithLove-Options {
  display: flex;
  gap: 5vh;
}
main #FarmingWithLove #farmingWithLove-Main #farmingWithLove-Options li {
  padding: 3vh;
  box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.07);
  font-weight: 600;
  color: #2a491d;
}
main #FarmingWithLove #farmingWithLove-Main #farmingWithLove-Options li i {
  color: #ffbd3c;
  margin-right: 2vh;
}
main #FarmingWithLove #farmingWithLove-Main #farmingWithLove-Text {
  display: flex;
  flex-direction: column;
  gap: 4vh;
  position: relative;
}
main #FarmingWithLove #farmingWithLove-Main #farmingWithLove-Text h4 {
  color: #50a72c;
}
main #FarmingWithLove #farmingWithLove-Main #farmingWithLove-Text p {
  color: #7d8978;
}
main #FarmingWithLove #farmingWithLove-Main #farmingWithLove-Text::before {
  content: "";
  position: absolute;
  top: 21vh;
  border-top: solid 1px #7d8978;
  width: 100%;
  height: 2vh;
}
main #FarmingWithLove #farmingWithLove-Main #farmingWithLove-Discover {
  display: flex;
  flex-direction: column;
  gap: 5vh;
}
main #FarmingWithLove #farmingWithLove-Main #farmingWithLove-Discover #farmingWithLove-DiscoverHeader {
  display: flex;
  gap: 2vh;
}
main #OurCategories {
  display: flex;
  flex-direction: column;
  gap: 22vh;
  margin-bottom: 10vh;
}
main #OurCategories .ourCategories-Header {
  text-align: center;
}
main #OurCategories #ourCategories-Cards {
  display: flex;
  justify-content: center;
  gap: 5vh;
}
main #OurCategories #ourCategories-Cards .ourCategories-Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f2f2ec;
  height: 40vh;
  width: 44vh;
  border-radius: 1vh;
  position: relative;
}
main #OurCategories #ourCategories-Cards .ourCategories-Card .ourCategories-Images {
  position: relative;
  bottom: 34vh;
}
main #OurCategories #ourCategories-Cards .ourCategories-Card .ourCategories-Images .cardMainImage {
  position: relative;
  top: 18vh;
  z-index: 1;
}
main #OurCategories #ourCategories-Cards .ourCategories-Card .ourCategories-Images .imageShapeBehind {
  transition: 0.3s ease-in-out;
  background-color: white;
  position: absolute;
  top: 19vh;
  left: 7vh;
  border-radius: 15vh;
  width: 30vh;
  height: 30vh;
}
main #OurCategories #ourCategories-Cards .ourCategories-Card .ourCategories-Images .cardMainImage:hover ~ .shapeGreen {
  background-color: #50a72c;
}
main #OurCategories #ourCategories-Cards .ourCategories-Card .ourCategories-Images .cardMainImage:hover ~ .shapeYellow {
  background-color: #ffbd3c;
}
main #OurCategories #ourCategories-Cards .ourCategories-Card .ourCategories-CardBack {
  position: relative;
  bottom: 16vh;
  display: flex;
  flex-direction: column;
  gap: 3vh;
  width: 80%;
}
main #OurCategories #ourCategories-Cards .ourCategories-Card a i {
  position: relative;
  bottom: 13.5vh;
  color: white;
  width: 7vh;
  height: 7vh;
  border-radius: 5vh;
  padding-top: 2.1vh;
  transition: 0.3s ease-in-out;
}
main #OrganicFood-Cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
main #OrganicFood-Cards .organicFood-Card {
  display: flex;
  border-radius: 1vh;
  width: 100vh;
  height: 50vh;
  position: relative;
}
main #OrganicFood-Cards .organicFood-Card img {
  position: absolute;
  right: 0;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 1vh;
}
main #OrganicFood-Cards .organicFood-Card:nth-child(1) {
  background-color: #2a491d;
}
main #OrganicFood-Cards .organicFood-Card:nth-child(2) {
  background-color: #50a72c;
}
main #OrganicFood-Cards .organicFood-Card .organicFood-Header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 3vh;
  padding-left: 5vh;
  position: absolute;
  top: 9vh;
  z-index: 1;
}
main #OrganicFood-Cards .organicFood-Card .organicFood-Header h2, main #OrganicFood-Cards .organicFood-Card .organicFood-Header h1 {
  color: white;
  width: 80%;
}
main #OrganicFood-Cards .organicFood-Card .organicFood-Header h1 {
  font-weight: 800;
}
main #CheckoutNewProducts {
  display: flex;
  flex-direction: column;
  gap: 5vh;
}
main #CheckoutNewProducts .checkoutNewProducts-Header {
  display: flex;
  align-items: center;
}
main #CheckoutNewProducts #checkoutNewProducts-Cards {
  display: flex;
  justify-content: space-around;
}
main #CheckoutNewProducts #checkoutNewProducts-Cards .checkoutNewProducts-Card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35vh;
  height: 60vh;
  border: solid 1px #f2f2ec;
  border-radius: 2vh;
  gap: 2vh;
}
main #CheckoutNewProducts #checkoutNewProducts-Cards .checkoutNewProducts-Card p {
  display: flex;
  gap: 3vh;
}
main #CheckoutNewProducts #checkoutNewProducts-Cards .checkoutNewProducts-Card p span {
  text-decoration: line-through;
  color: #c2c8bb;
}
main #CheckoutNewProducts #checkoutNewProducts-Cards .checkoutNewProducts-Card img {
  width: 75%;
  height: auto;
}
main #CheckoutNewProducts #checkoutNewProducts-Cards .checkoutNewProducts-Card button {
  border: none;
  cursor: pointer;
}
main #WhyChooseOgenix {
  display: flex;
  justify-content: space-between;
  background-image: url("../images/why-choose-ogenix/bg-2.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 90vh;
  padding-top: 8vh;
  padding-left: 10vh;
  position: relative;
}
main #WhyChooseOgenix img {
  -o-object-fit: contain;
     object-fit: contain;
}
main #WhyChooseOgenix #leafInTheLeftCorner {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
main #WhyChooseOgenix #whyChooseOgenix-Left {
  display: flex;
  gap: 5vh;
  flex-direction: column;
  z-index: 2;
}
main #WhyChooseOgenix #whyChooseOgenix-Left .whyChooseOgenix-Header h2, main #WhyChooseOgenix #whyChooseOgenix-Left .whyChooseOgenix-Header h1 {
  color: white;
}
main #WhyChooseOgenix #whyChooseOgenix-Left #whyChooseOgenix-Cards {
  display: flex;
  width: 100vh;
  flex-wrap: wrap;
  gap: 5vh;
}
main #WhyChooseOgenix #whyChooseOgenix-Left #whyChooseOgenix-Cards .whyChooseOgenix-Card {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  justify-content: center;
  align-items: center;
  background-color: #223d17;
  width: 40vh;
  height: 50%;
}
main #WhyChooseOgenix #whyChooseOgenix-Left #whyChooseOgenix-Cards .whyChooseOgenix-Card h3 {
  color: white;
  font-weight: 600;
}
main #WhyChooseOgenix #whyChooseOgenix-Left #whyChooseOgenix-Cards .whyChooseOgenix-Card img {
  width: 30%;
  height: 30%;
  transition: 0.3s ease;
}
main #WhyChooseOgenix #whyChooseOgenix-Left #whyChooseOgenix-Cards .whyChooseOgenix-Card img:hover {
  transform: scale(0.9);
}
main #WhyChooseOgenix #whyChooseOgenix-Right {
  position: relative;
  top: -8.4vh;
  right: 0;
  width: 100%;
  height: 83.5vh;
  width: -moz-max-content;
  width: max-content;
}
main #MeetTheFarmers {
  display: flex;
  flex-direction: column;
  margin-bottom: 15vh;
}
main #MeetTheFarmers .meetTheFarmers-Header {
  display: flex;
  align-items: center;
  justify-content: center;
}
main #MeetTheFarmers #meetTheFarmers-Cards {
  display: flex;
  justify-content: space-around;
}
main #MeetTheFarmers #meetTheFarmers-Cards .meetTheFarmers-Card {
  position: relative;
}
main #MeetTheFarmers #meetTheFarmers-Cards .meetTheFarmers-Card .teamMembers {
  position: relative;
  z-index: 2;
}
main #MeetTheFarmers #meetTheFarmers-Cards .meetTheFarmers-Card .followTheirSocials {
  display: none;
  position: absolute;
  top: 42vh;
  left: 7vh;
  z-index: 4;
}
main #MeetTheFarmers #meetTheFarmers-Cards .meetTheFarmers-Card .followTheirSocials li {
  background-color: #223d17;
  width: 7vh;
  height: 7vh;
  text-align: center;
  padding-top: 1.6vh;
  border-radius: 6vh;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
main #MeetTheFarmers #meetTheFarmers-Cards .meetTheFarmers-Card .followTheirSocials li i {
  color: white;
  transition: 0.7s ease-in-out;
}
main #MeetTheFarmers #meetTheFarmers-Cards .meetTheFarmers-Card .followTheirSocials li:hover {
  background-color: white;
}
main #MeetTheFarmers #meetTheFarmers-Cards .meetTheFarmers-Card .followTheirSocials li:hover i {
  color: #50a72c;
}
main #MeetTheFarmers #meetTheFarmers-Cards .meetTheFarmers-Card:after {
  content: "";
  position: absolute;
  left: -7.5vh;
  top: 20vh;
  width: 60vh;
  height: 54.5vh;
  z-index: -1;
  background-color: #2a491d;
  border-top-left-radius: 20vh;
  border-top-right-radius: 20vh;
  transition: 0.3s ease-in-out;
}
main #MeetTheFarmers #meetTheFarmers-Cards .meetTheFarmers-Card:hover::after {
  background-color: #50a72c;
}
main #MeetTheFarmers #meetTheFarmers-Cards .meetTheFarmers-Card:hover .followTheirSocials {
  display: flex;
}
main #MeetTheFarmers #meetTheFarmers-Cards .meetTheFarmers-Card .meetTheFarmers-AlternateImages img {
  position: absolute;
}
main #MeetTheFarmers #meetTheFarmers-Cards .meetTheFarmers-Card .meetTheFarmers-AlternateImages img:nth-child(1) {
  top: 15vh;
  left: -13vh;
  z-index: 1;
}
main #MeetTheFarmers #meetTheFarmers-Cards .meetTheFarmers-Card .meetTheFarmers-AlternateImages img:nth-child(2) {
  bottom: 0;
  right: -5vh;
  z-index: 3;
  transition: 0.3s;
}
main #MeetTheFarmers #meetTheFarmers-Cards .meetTheFarmers-Card .meetTheFarmers-AlternateImages img:nth-child(2):hover {
  transform: scale(0.9);
}
main #MeetTheFarmers #meetTheFarmers-Cards .meetTheFarmers-Card .meetTheFarmers-Bottom {
  text-align: center;
  position: relative;
  top: 10vh;
}
main #MeetTheFarmers #meetTheFarmers-Cards .meetTheFarmers-Card .meetTheFarmers-Bottom h2 {
  color: #2a491d;
}
main #MeetTheFarmers #meetTheFarmers-Cards .meetTheFarmers-Card .meetTheFarmers-Bottom p {
  color: #7d8978;
  font-weight: 500;
}
main #OurFeedbacks {
  display: flex;
  align-items: center;
  background-image: url("../images/our-feedbacks/bg-3.jpg");
  width: 100% !important;
  height: 100vh;
  position: relative;
}
main #OurFeedbacks .ourFeedbacks-Header {
  display: flex;
  flex-direction: column;
  width: 35%;
  padding-left: 5vh;
  gap: 5vh;
}
main #OurFeedbacks .ourFeedbacks-Header #ourFeedbacks-HeaderTop h1 {
  width: 80%;
  font-size: 42px;
  font-weight: 900;
}
main #OurFeedbacks .ourFeedbacks-Header p {
  color: #7d8978;
}
main #OurFeedbacks #littleGreenShape {
  position: absolute;
  left: 70vh;
  top: 6vh;
  -o-object-fit: contain;
     object-fit: contain;
  width: 15%;
  height: auto;
  z-index: 1;
}
main #OurFeedbacks .ourFeedbacks-Center {
  background-image: url("../images/our-feedbacks/base-4.png");
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  scrollbar-width: none;
  position: relative;
  left: 10vh;
  width: 30%;
  height: 90vh;
  border-radius: 1vh;
  margin-top: 15vh;
  z-index: 2;
}
main #OurFeedbacks .ourFeedbacks-Center:active {
  cursor: grab;
}
main #OurFeedbacks .ourFeedbacks-Center .ourFeedbacks-CenterCards {
  display: flex;
  position: relative;
}
main #OurFeedbacks .ourFeedbacks-Center .ourFeedbacks-CenterCards .ourFeedbacks-CenterCard {
  display: flex;
  flex-direction: column;
  padding-top: 2vh;
  align-items: center;
  text-align: center;
  gap: 4vh;
}
main #OurFeedbacks .ourFeedbacks-Center .ourFeedbacks-CenterCards .ourFeedbacks-CenterCard img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 20%;
  height: 20%;
  margin-bottom: -2vh;
  transition: 0.3s;
}
main #OurFeedbacks .ourFeedbacks-Center .ourFeedbacks-CenterCards .ourFeedbacks-CenterCard img:hover {
  transform: scale(0.89);
}
main #OurFeedbacks .ourFeedbacks-Center .ourFeedbacks-CenterCards .ourFeedbacks-CenterCard p {
  font-size: 20px;
  color: #7d8978;
  width: 80%;
  line-height: 5vh;
}
main #OurFeedbacks .ourFeedbacks-Center .ourFeedbacks-CenterCards .ourFeedbacks-CenterCard .ourFeedbacks-CenterCardBottom {
  margin-top: 1vh;
}
main #OurFeedbacks .ourFeedbacks-Center .ourFeedbacks-CenterCards .ourFeedbacks-CenterCard .ourFeedbacks-CenterCardBottom h3 {
  color: #2a491d;
}
main #OurFeedbacks .ourFeedbacks-Center .ourFeedbacks-CenterCards .ourFeedbacks-CenterCard .ourFeedbacks-CenterCardBottom h5 {
  color: #50a72c;
}
main #OurFeedbacks .ourFeedbacks-Center .ourFeedbacks-CenterCards .ourFeedbacks-CenterCard .ourFeedbacks-Person {
  position: relative;
  top: 5vh;
  left: -7vh;
}
main #OurFeedbacks .ourFeedbacks-Center .BothSwiperArrows {
  color: #7E7E7E;
  width: 45px;
  height: 45px;
  position: absolute;
  top: 35vh;
  border-radius: 6vh;
  border: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
main #OurFeedbacks .ourFeedbacks-Center .BothSwiperArrows:hover {
  color: #50a72c;
}
main #OurFeedbacks .ourFeedbacks-Center .BothSwiperArrows::after {
  content: "";
}
main #OurFeedbacks .ourFeedbacks-Center .swiper-button-prev {
  left: 0;
}
main #OurFeedbacks .ourFeedbacks-Center .swiper-button-next {
  right: 0;
}
main #OurFeedbacks #ourFeedback-Right {
  position: relative;
}
main #OurFeedbacks #ourFeedback-Right img:nth-child(1) {
  position: absolute;
  right: 0;
}
main #OurFeedbacks #ourFeedback-Right img:nth-child(2) {
  border-radius: 50%;
}
main #HealthyFood {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 15vh;
}
main #HealthyFood .healthyFood-Card {
  display: flex;
  flex-direction: column;
  width: 50vh;
  height: 70vh;
  transition: 0.3s ease-in-out;
  position: relative;
  border-radius: 1vh;
}
main #HealthyFood .healthyFood-Card .healthyFood-MainImage {
  width: 50vh;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  overflow: hidden;
  border-radius: 3vh;
}
main #HealthyFood .healthyFood-Card .healthyFood-Header {
  background-color: white;
  width: 90%;
  height: 25vh;
  position: relative;
  bottom: 15vh;
  left: 2.5vh;
  padding-left: 5vh;
  padding-top: 2.5vh;
  box-shadow: 0 3px 3px #c2c8bb;
  border-radius: 1vh;
  z-index: 2;
}
main #HealthyFood .healthyFood-Card .healthyFood-Header .gradientLine {
  width: 15%;
  height: 2.8px;
}
main #HealthyFood .healthyFood-Card .healthyFood-Header h1 {
  color: #2a491d;
}
main #HealthyFood .healthyFood-Card .healthyFood-Header p {
  color: #7d8978;
}
main #HealthyFood .healthyFood-Card .healthyFood-Header .backgroundRightShape {
  position: absolute;
  right: 0vh;
  bottom: 0;
  height: 16vh;
}
main #HealthyFood .healthyFood-Card .healthyFood-Header i {
  position: absolute;
  top: -3.5vh;
  right: 5vh;
  width: 7vh;
  height: 7vh;
  text-align: center;
  padding-top: 2.1vh;
  border-radius: 5vh;
  color: white;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
main #HealthyFood .healthyFood-Card::after {
  content: "";
  display: none;
  position: absolute;
  top: 1.5vh;
  left: 0;
  width: 100%;
  height: 48vh;
  background-color: rgba(81, 167, 44, 0.1450980392);
  transition: 0.3s ease-in-out;
  border-radius: 1vh;
  z-index: 1;
}
main #HealthyFood .healthyFood-Card:hover {
  transform: translateY(-2vh);
}
main #HealthyFood .healthyFood-Card:hover .healthyFood-MainImage {
  filter: brightness(70%);
}
main #HealthyFood .healthyFood-Card:hover::after {
  display: block;
}
main #FromTheBlogPosts {
  display: flex;
  flex-direction: column;
}
main #FromTheBlogPosts .fromTheBlogPosts-Header {
  text-align: center;
  margin-bottom: 5vh;
}
main #FromTheBlogPosts #fromTheBlogPosts-Cards {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
main #FromTheBlogPosts #fromTheBlogPosts-Cards .fromTheBlogPosts-Card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;
}
main #FromTheBlogPosts #fromTheBlogPosts-Cards .fromTheBlogPosts-Card img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 90%;
  border-radius: 3vh;
  transition: 0.3s ease-in-out;
}
main #FromTheBlogPosts #fromTheBlogPosts-Cards .fromTheBlogPosts-Card .fromTheBlogPosts-Main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding-bottom: 5vh;
  width: 60vh;
  gap: 5vh;
  position: relative;
  bottom: 25vh;
  border-radius: 1vh;
  box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.1);
  z-index: 2;
}
main #FromTheBlogPosts #fromTheBlogPosts-Cards .fromTheBlogPosts-Card .fromTheBlogPosts-Main .fromTheBlogPosts-MainTop {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 5vh;
  width: 70%;
}
main #FromTheBlogPosts #fromTheBlogPosts-Cards .fromTheBlogPosts-Card .fromTheBlogPosts-Main .fromTheBlogPosts-MainTop a {
  color: #7d8978;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 5px;
}
main #FromTheBlogPosts #fromTheBlogPosts-Cards .fromTheBlogPosts-Card .fromTheBlogPosts-Main .fromTheBlogPosts-MainTop a i {
  color: #50a72c;
}
main #FromTheBlogPosts #fromTheBlogPosts-Cards .fromTheBlogPosts-Card .fromTheBlogPosts-Main .cardLink {
  font-weight: 900;
}
main #FromTheBlogPosts #fromTheBlogPosts-Cards .fromTheBlogPosts-Card .fromTheBlogPosts-Main .readMore {
  color: #7d8978;
  font-weight: 400;
}
main #FromTheBlogPosts #fromTheBlogPosts-Cards .fromTheBlogPosts-Card .fromTheBlogPosts-Main .cardLink, main #FromTheBlogPosts #fromTheBlogPosts-Cards .fromTheBlogPosts-Card .fromTheBlogPosts-Main .readMore {
  transition: 0.2s ease-out;
  text-align: center;
  width: 70%;
}
main #FromTheBlogPosts #fromTheBlogPosts-Cards .fromTheBlogPosts-Card .fromTheBlogPosts-Main .cardLink:hover, main #FromTheBlogPosts #fromTheBlogPosts-Cards .fromTheBlogPosts-Card .fromTheBlogPosts-Main .readMore:hover {
  color: #50a72c;
}
main #FromTheBlogPosts #fromTheBlogPosts-Cards .fromTheBlogPosts-Card::after {
  content: "";
  display: none;
  position: absolute;
  top: 0;
  left: 3.5vh;
  width: 90%;
  height: 48vh;
  background-color: rgba(81, 167, 44, 0.1450980392);
  transition: 0.3s ease-in-out;
  border-radius: 3vh;
  z-index: 1;
}
main #FromTheBlogPosts #fromTheBlogPosts-Cards .fromTheBlogPosts-Card:hover {
  transform: translate(0);
}
main #FromTheBlogPosts #fromTheBlogPosts-Cards .fromTheBlogPosts-Card:hover img {
  filter: brightness(70%);
}
main #FromTheBlogPosts #fromTheBlogPosts-Cards .fromTheBlogPosts-Card:hover::after {
  display: block;
}
main #Subscription {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #50a72c;
  border-radius: 6vh;
  position: relative;
  left: 10vh;
  width: 90%;
  height: 30vh;
  padding-left: 5vh;
}
main #Subscription #subscriptionTwoLeaves {
  position: absolute;
  top: -8vh;
  left: -11vh;
  height: 25vh;
}
main #Subscription #subscription-Left {
  display: flex;
  align-items: center;
  gap: 3vh;
  width: 100%;
}
main #Subscription #subscription-Left #attachmentIcon {
  -o-object-fit: contain;
     object-fit: contain;
  width: 10vh;
  height: 10vh;
}
main #Subscription #subscription-Left .subscription-TextHeader h2, main #Subscription #subscription-Left .subscription-TextHeader h1 {
  color: white;
}
main #Subscription #subscription-Left #tomatoImage {
  position: relative;
  top: 15vh;
}
main #Subscription #subscription-Right {
  position: relative;
  bottom: 10vh;
}
main #Subscription #subscription-Right #subscription-RightImage {
  display: flex;
  flex-direction: column;
  transform: translate(-23vh, 4vh);
}
main #Subscription #subscription-Right #subscription-RightImage img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 22%;
  height: 22%;
}
main #Subscription #subscription-Right #subscription-RightImage img:nth-child(1) {
  transform: translate(9vh, 4vh);
  z-index: 1;
}
main #Subscription #subscription-Right #subscription-RightImage img:nth-child(2) {
  z-index: 2;
}
main #Subscription #subscription-Right form {
  display: flex;
  width: 80vh;
  position: relative;
  z-index: 3;
}
main #Subscription #subscription-Right form input {
  padding: 3vh;
  width: 65vh;
  border-radius: 1vh;
  outline: #c2c8bb;
  border: none;
}
main #Subscription #subscription-Right form button {
  position: absolute;
  right: 15vh;
  background-color: #ffbd3c;
  border: none;
  padding: 2vh;
  margin: 1vh;
  border-radius: 1vh;
  cursor: pointer;
}
main #Subscription #subscription-Right form button i {
  color: white;
  font-size: 18px;
}
main #Subscription #subscription-Right #fruitSmileImage {
  position: absolute;
  top: 8vh;
  right: -3vh;
  z-index: 2;
}
main #Subscription #subscription-Right #subscriptionBackgroundImage {
  position: absolute;
  top: 5vh;
  right: -4vh;
  -o-object-fit: contain;
     object-fit: contain;
  height: 41vh;
  width: 91%;
  z-index: 1;
}

footer {
  background-image: url("../images/footer/bg-4.jpg");
  color: white;
  display: flex;
  flex-direction: column;
}
footer a {
  color: #91a589;
  font-weight: 400;
  transition: 0.2s ease-in-out;
}
footer a:hover {
  color: #ffbd3c;
}
footer p {
  color: white;
}
footer p, footer a {
  font-size: 16px;
}
footer h3 {
  display: flex;
  align-items: center;
  gap: 1.5vh;
}
footer h3 img {
  padding-top: 0.5vh;
}
footer #footerTop {
  display: flex;
  gap: 2vh;
  align-items: center;
  padding: 10vh;
  position: relative;
}
footer #footerTop #footerTopLeft {
  display: flex;
  flex-direction: column;
  gap: 5vh;
}
footer #footerTop #footerTopLeft img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 25%;
  height: 25%;
}
footer #footerTop #footerTopLeft h3 {
  width: 80%;
}
footer #footerTop #footerTopLeft .footerSocialLinks {
  display: flex;
  gap: 1vh;
}
footer #footerTop #footerTopLeft .footerSocialLinks li {
  width: 7vh;
  height: 7vh;
  background-color: #223d17;
  border-radius: 5vh;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  text-align: center;
  padding-top: 1.7vh;
}
footer #footerTop #footerTopLeft .footerSocialLinks li a {
  color: white;
}
footer #footerTop #footerTopLeft .footerSocialLinks li:hover {
  background-color: #ffbd3c;
  transform: translateY(-2vh);
}
footer #footerTop #footerTopRight {
  display: flex;
  align-items: flex-start;
  gap: 5vh;
}
footer #footerTop #footerTopRight .footerTopCenterLinks {
  display: flex;
  flex-direction: column;
  width: 30vh;
  gap: 4vh;
}
footer #footerTop #footerTopRight .footerTopCenterLinks ul {
  display: flex;
  flex-direction: column;
  gap: 5vh;
}
footer #footerTop #footerTopRight #gallery {
  display: flex;
  flex-direction: column;
  gap: 4.5vh;
}
footer #footerTop #footerTopRight #gallery .galleryImages {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2vh;
  width: 50vh;
}
footer #footerTop #footerTopRight #gallery .galleryImages img {
  width: 12vh;
  height: 12vh;
  border-radius: 1vh;
}
footer #footerTop #footerTopRight #contactInfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 3vh;
  width: 40vh;
}
footer #footerTop #footerTopRight #contactInfo #contactInfoMain {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5.5vh;
}
footer #footerTop #footerTopRight #contactInfo #contactInfoMain p {
  color: #91a589;
  width: 70%;
}
footer #footerTop #footerTopRight #contactInfo #contactInfoMain #emailAddress {
  font-size: 18px;
}
footer #footerTop #footerTopRight #contactInfo #contactInfoMain span {
  position: relative;
}
footer #footerTop #footerTopRight #contactInfo #contactInfoMain span::after {
  content: "";
  position: absolute;
  bottom: -1vh;
  left: 0;
  width: 65%;
  height: 1px;
  border-bottom: solid 1px white;
}
footer #footerBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5vh;
  padding: 5vh;
  background-color: #223d17;
}
footer #footerBottom #ogenixWebsite {
  color: #FFCC7E;
}
footer #footerBottom ul {
  display: flex;
  gap: 4vh;
}/*# sourceMappingURL=style.css.map */