header {
    display: flex;

    #HeaderLogo {
        background-color: #2A491D;

        img {
            padding: 9vh 4vh 4vh;
        }
    }

    #HeaderBoth {
        width: 100%;

        #HeaderTop {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #2A491D;
            padding: 2vh 0 2vh 0;
            color: white;

            #headerTopLeft {
                display: flex;
                gap: 5vh;

                .socialLinks {
                    background-color: #223d17;
                    position: absolute;
                    top: 0;
                    left: 74vh;
                    cursor: pointer;

                    li {

                        &:hover {
                            color: #ffbd3c;
                        }
                    }
                }
            }

            #headerTopRight {
                display: flex;
                gap: 5vh;
                margin-right: 5vh;

                span {
                    display: flex;
                    align-items: center;
                    gap: 2vh;

                    &:nth-child(1)::after {
                        content: "";
                        width: 1vh;
                        height: 3vh;
                        padding-right: 2vh;
                        border-right: solid 1px #7d8978;
                    }

                    i {
                        color: #ffbd3c;
                    }
                }
            }
        }

        #HeaderBottom {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding-top: 3.5vh;
            padding-bottom: 3.5vh;

            nav {

                ul {
                    display: flex;
                    align-items: center;
                    gap: 10vh;

                    li {
                        padding: 4vh 0;
                        position: relative;

                        a {
                            color: #7d8978;
                            font-weight: 400;

                            &:hover {
                                color: #50a72c;
                            }
                        }

                        &::after {
                            content: "";
                            display: none;
                            position: absolute;
                            bottom: 2.7vh;
                            width: 100%;
                            border-bottom: solid 3px #50a72c;
                            transition: 0.3s;
                        }

                        &:hover::after {
                            display: block;
                        }
                    }
                }

            }
        }

        #headerBottomRight {
            display: flex;
            align-items: center;
            gap: 1vh;

            &::before {
                content: "";
                width: 1vh;
                height: 5vh;
                border-left: solid 1px #7d8978;
                padding-left: 12vh;
            }

            i {
                font-size: 20px;
                cursor: pointer;

                &:nth-child(1) {
                    font-size: 30px;
                    padding-right: 5vh;
                    transition: 0.2s ease-out;

                    &:hover {
                        color: #50a72c;
                    }
                }

                &:nth-child(2) {
                    padding: 3vh;
                    border-radius: 5vh;
                }
            }

            a {
                border-radius: 5vh;
                padding: 3vh;
            }
        }
    }
}