main {
    #UpBanner {
        background-image: url('../images/upbanner/bg.jpg');
        background-repeat: no-repeat;
        height: 100vh;
        position: relative;
        margin-top: 0;

        #upBannerImages {

            #brocolli {
                position: absolute;
                top: 0;
            }

            #tomato {
                position: absolute;
                bottom: 0;
            }

            #orange {
                position: absolute;
                bottom: 0;
                right: 0;
            }

            #vegetables {
                position: absolute;
                top: 5vh;
                right: 0;
            }
        }

        #upBannerText {
            display: flex;
            flex-direction: column;
            gap: 4vh;
            position: absolute;
            top: 32vh;
            left: 5vh;

            .upBannerText-Header {

                h2 {
                    font-size: 30px;
                    font-style: italic;
                    font-weight: 400;
                    transform: skewX(15deg);
                    font-family: "Caveat", cursive;
                    color: #7d8978;
                }

                h1 {
                    font-size: 65px;
                    width: 65vh;
                    color: #2a491d;
                }
            }
        }
    }

    #ServiceOptions {
        display: flex;
        justify-content: space-around;
        padding: 5vh;
        box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.07);

        .serviceOptions-Card {
            display: flex;
            align-items: center;
            position: relative;

            &::after, &:nth-child(2)::after {
                content: "";
                position: absolute;
                left: 43.5vh;
                border-right: solid 1px #7d8978;
                width: 1vh;
                height: 11vh;
            }

            &:nth-child(2)::after {
                left: 45vh;
            }

            &:nth-last-child(1)::after {
                display: none;
            }

            .serviceOptions-CardText {
                display: flex;
                flex-direction: column;
            }
        }
    }

    #FarmingWithLove {
        display: flex;
        justify-content: space-around;
        align-items: center;
        

        #farmingWithLove-Image {
            object-fit: contain;
            width: 50vh;
        }

        #farmingWithLove-Main {
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 7vh;

            #farmingWithLove-Options {
                display: flex;
                gap: 5vh;

                li {
                    padding: 3vh;
                    box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.07);
                    font-weight: 600;
                    color:#2a491d;
               
                    i {
                        color: #ffbd3c;
                        margin-right: 2vh;
                    }
                }

            }

            #farmingWithLove-Text {
                display: flex;
                flex-direction: column;
                gap: 4vh;
                position: relative;


                h4 {
                    color: #50a72c;
                }

                p {
                    color: #7d8978;
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 21vh;
                    border-top: solid 1px #7d8978;
                    width: 100%;
                    height: 2vh;
                }

            }

            #farmingWithLove-Discover {
                display: flex;
                flex-direction: column;
                gap: 5vh;

                #farmingWithLove-DiscoverHeader {
                    display: flex;
                    gap: 2vh;

                }
            }
        }
    }

    #OurCategories {
        display: flex;
        flex-direction: column;
        gap: 22vh;
        margin-bottom: 10vh;
        
        .ourCategories-Header {
            text-align: center;
        }
        
        #ourCategories-Cards {
            display: flex;
            justify-content: center;
            gap: 5vh;

            .ourCategories-Card {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                background-color: #f2f2ec;
                height: 40vh;
                width: 44vh;
                border-radius: 1vh;
                position: relative;
                
                .ourCategories-Images {
                    position: relative;
                    bottom: 34vh;

                    .cardMainImage {
                        position: relative;
                        top: 18vh;
                        z-index: 1;
                    } 

                    .imageShapeBehind {
                        transition: 0.3s ease-in-out;
                        background-color: white;
                        position: absolute;
                        top: 19vh;
                        left: 7vh;
                        border-radius: 15vh;
                        width: 30vh;
                        height: 30vh;
                    }
    
                    .cardMainImage:hover ~ .shapeGreen {
                        background-color: #50a72c;
                    }

                    .cardMainImage:hover ~ .shapeYellow {
                        background-color: #ffbd3c;
                    }
         
                }

                .ourCategories-CardBack {
                    position: relative;
                    bottom: 16vh;
                    display: flex;
                    flex-direction: column;
                    gap: 3vh;
                    width: 80%;
                }

                a {
                    
                    i {
                        position: relative;
                        bottom: 13.5vh;
                        color: white;
                        width: 7vh;
                        height: 7vh;
                        border-radius: 5vh;
                        padding-top: 2.1vh;
                        transition: 0.3s ease-in-out;
                    }
                }

                .arrowBackground-Green {
                    background-color: #50a72c;

                    &:hover {
                        background-color: #ffbd3c;
                    }
                }

                .arrowBackground-Orange {
                    background-color: #ffbd3c;

                    &:hover {
                        background-color: #50a72c;
                    }
                }
            }
        }
    }

    #OrganicFood-Cards {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .organicFood-Card {
            display: flex;
            border-radius: 1vh;
            width: 100vh;
            height: 50vh;
            position: relative;

            img {
                position: absolute;
                right: 0;
                height: 100%;
                object-fit: contain;
                border-radius: 1vh;
            }

            &:nth-child(1) {
                background-color: #2a491d;
            }

            &:nth-child(2) {
                background-color: #50a72c;
            }

            .organicFood-Header {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                gap: 3vh;
                padding-left: 5vh;
                position: absolute;
                top: 9vh;
                z-index: 1;
                
                h2, h1 {
                    color: white;
                    width: 80%;
                }                

                h1 {
                    font-weight: 800;
                }
            }
        }
    }

    #CheckoutNewProducts {
        display: flex;
        flex-direction: column;
        gap: 5vh;

        .checkoutNewProducts-Header {
            display: flex;
            align-items: center;
        }

        #checkoutNewProducts-Cards {
            display: flex;
            justify-content: space-around;
            
            .checkoutNewProducts-Card {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 35vh;
                height: 60vh;
                border: solid 1px #f2f2ec;
                border-radius: 2vh;
                gap: 2vh;

                p {
                    display: flex;
                    gap: 3vh;
                    
                    span {
                        text-decoration: line-through;
                        color: #c2c8bb;
                    }
                }

                img {
                    width: 75%;
                    height: auto;
                }

                button {
                    border: none;
                    cursor: pointer;
                }
                
            }
        }
    }

    #WhyChooseOgenix {
        display: flex;
        justify-content: space-around;
        background-image: url('../images/why-choose-ogenix/bg-2.jpg');
        background-size: contain;
        height: 90vh;
        padding-top: 5vh;
        position: relative;

        img {
            object-fit: contain;
        }

        #whyChooseOgenix-Left {
            display: flex;
            gap: 5vh;
            flex-direction: column;

            .whyChooseOgenix-Header {
                
                h1 {
                    color: white;
                }
            }

            #whyChooseOgenix-Cards {
                display: flex;
                width: 100vh;
                flex-wrap: wrap;
                gap: 5vh;
                
                .whyChooseOgenix-Card {
                    display: flex;
                    flex-direction: column;
                    gap: 2vh;
                    justify-content: center;
                    align-items: center;
                    background-color: #223d17;
                    width: 40vh;
                    height: 50%;

                    h3 {
                        color: white;
                        font-weight: 600;
                    }

                    img {
                        width: 30%;
                        height: 30%;
                    }
                }
            }
        }

        #whyChooseOgenix-Right {
            display: flex;

            img {
                width: 70%;
                height: 50%;
            }

            #whyChooseOgenix-TopAndBottom {
                display: flex;
                flex-direction: column;
                gap: 15vh;
            }
            
            #whyChooseOgenix-Middle {
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding-right: 3.7vh;
            }
        }
    }

}