@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

a {
    text-decoration: none;
    font-weight: 600;
}

ul {
    list-style-type: none;
}

.socialLinks {
    display: flex;
    gap: 4vh;
    list-style: none;
    padding: 2vh;
}

section {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.textHeader {
    display: flex;
    flex-direction: column;

    h2 {
        font-family: 'Caveat', cursive;
        color: #50a72c;
    }

    h1 {
        font-size: 30px;
        color: #2a491d;
    }
}

.a-Buttons {
    display: flex;
    gap: 2vh;

    li {
        border-radius: 3vh;

        a {
            color: white;
        }
    }
}

.a-Button-Yellow {
    background-color: #ffbd3c;

    &:hover {
        background-color: #50a72c;
    }
}

.a-Button-Green {
    background-color: #50a72c;

    &:hover {
        background-color: #ffbd3c;
    }
}

.a-Button-Yellow, .a-Button-Green {
    color: white;
    padding: 12px 24px;
    border-radius: 5vh;
    transition: 0.3s ease-in-out;
    width: max-content;
}

.cardLink {
    color:#2a491d;
    font-size: 20px;
    font-weight: 600;
}

.arrowBackground-Green {
    background-color: #50a72c;

    &:hover {
        background-color: #ffbd3c;
    }
}

.arrowBackground-Yellow {
    background-color: #ffbd3c;

    &:hover {
        background-color: #50a72c;
    }
}